<html>
  <head></head>
  <body>
    <div class="title">
      Links:
    </div>
    <div>
      <ul>
      <% @links.each do |link| %>
        <li> <%= link %> </li>
      <% end %>
    </div>
  </body>
</html>
