<html>
  <head></head>
  <body>
  <form action="/links" method="get">
    <input type="submit" value="View all links">
  </form>
  <form action="/url" method="post">
    <input type="text" name="url" placeholder="Enter URL here">
    <input type="submit" value="Add link">
  </form>
  </body>
</html>
